/** {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none ;
}
*/
body {
  margin: 0%;
}

.header {
  width: 100vw;
  height: 60px;
  display: block;
  background-color: black;
}

.inner-header {
  width: 1400px;
  height: 100%;
  display: block;
  margin: 0 auto;
  /*background-color: hotpink;*/
}

.logo-container {
  height: 100%;
  display: table;
  float: left;
}

#logo-text {
  padding-top: 5px;
  vertical-align: middle;
  padding-left: 20px;
}

.navigation {
  float: right;
  height: 100%;
  padding-right: 160px;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 8px;
  list-style: none;
}

/*a:link {
  text-decoration: none;
}*/

.navigation a li {
  font-weight: 400;
  font-family: Open Sans, sans-serif;
  color: #fff;
  font-size: 0.75em;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0px;
  box-sizing: border-box;
  background-color: rgb(216, 216, 216);
}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}

.inner-footer .logo-container {
  align-items: left;
  text-align-last: left;
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner-footer .logo-container img {
  text-align-last: left;
  width: 60%;
  height: auto;
}

.inner-footer .footer-third {
  width: calc(21.666667% - 20px);
  margin-right: 10px;
  height: 100%;
  float: left;
}

.inner-footer .footer-third:last-child() {
  text-align-last: left;
  margin-right: 0;
  font-size: 12px;
}

.inner-footer .footer-third h1 {
  text-align-last: left;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 0;
}

.inner-footer .footer-third h2 {
  text-align-last: left;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
  padding-top: 0;
  font-weight: 0;
  padding-bottom: 0px;
}

.inner-footer .footer-third p {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
  font-weight: 200px;
  padding-bottom: 0px;
  width: 100%;
}

.inner-footer .footer-third li {
  display: inline-block;
  padding: 10px 5px;
  font-size: 14px;
  color: black;
  float: left;
}

#copywright-tag {
  text-align-last: left;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
  width: 100%;
}
